* {
  margin: 0;
  padding: 0;
}
div {
  display: inline;
  color: white;
}
.head {
  display: block;
  background-color: black;
  height: 50px;
  width: auto;
  padding-top: 10px;
}
.container {
  margin: 150px;
}
.content {
  display: inline-block;
  height: 800px;
  width: auto;
}
.contentitem {
  color: black;
  display: inline-block;
  border: 2px solid black;
  padding-left: 20px;
  padding-top: 50px;
  width: 100px;
  height: 100px;
}

p {
  display: inline;
}
